.pie-root {
  min-width: 480px;
}

.pie-header {
  text-align: center;
}

.pie-form-panel-body {
  padding-top: 0;
}

.pie-form-container {
  padding-left: 0;
  padding-right: 0;
}

.pie-form-control {
  padding-top: 15px;
}

.pie-item {
  margin-bottom: 0;
}

.pie-chart-panel {
  overflow: hidden;
}

@media (max-width: 767px) {
.pie-chart {
  position: relative;
  left: -160px;
}}